# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
target/classes/com/volunteer/uapply/annotation/MinisterLogin.class
target/classes/com/volunteer/uapply/annotation/UserLogin.class
target/classes/com/volunteer/uapply/pojo/SearchInterviewPojo.class
target/classes/com/volunteer/uapply/utils/response/ResponseException.class
target/generated-sources/
target/generated-test-sources/
