<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.volunteer.uapply.mapper.ApplyMsgMapper">

    <update id="UpdateSecondDepartment">
        UPDATE applymessage SET secondDepartment_id = #{departmentId,jdbcType=INTEGER} WHERE user_tel = #{userTel,jdbcType=VARCHAR}
    </update>

    <select id="GetUserByUserId" resultType="com.volunteer.uapply.pojo.User">
        SELECT user_id,user_name,user_tel,user_stunum,user_qq,college,profession,firsiIntention_id,secondIntention_id,user_hobby,user_introduction,secondDepartment_id
        FROM applymessage
        WHERE user_id = #{userd,jdbcType=VARCHAR}
    </select>


    <select id="listUserUnSecondInterview" parameterType="java.lang.Integer" resultType="com.volunteer.uapply.pojo.User">
        SELECT user_id,user_name,user_tel,permission_id,department_id
        FROM usermessage
        WHERE user_id in(
            SELECT user_id
            FROM applymessage
            WHERE fisrt_interview = 1
            AND second_interview = 0
            AND secondDepartment_id = #{departmentId,jdbcType=INTEGER}
        )
    </select>
    <select id="listUserSecondedInterviewed" parameterType="java.lang.Integer" resultType="com.volunteer.uapply.pojo.User">
        SELECT user_id,user_name,user_tel,permission_id,department_id
        FROM usermessage
        WHERE user_id in(
            SELECT user_id
            FROM applymessage
            WHERE fisrt_interview = 1
            AND second_interview = 1
            AND secondDepartment_id = #{departmentId,jdbcType=INTEGER}
        )
    </select>
    <update id="SecondEliminate" parameterType="java.lang.Integer" >
        UPDATE applymessage
        SET secondDepartment_id = -1
        WHERE secondDepartment_id = #{departmentId,jdbcType=INTEGER}
        AND user_id = #{userId,jdbcType = INTEGER }
    </update>

    <select id="listUserEnrollMembers" parameterType="java.util.List" resultType="com.volunteer.uapply.pojo.User">
        SELECT DISTINCT
        user_id,user_stunum as user_name,user_tel ,4 as permissionId,
        #{departmentId} as department_id,user_stunum as user_pwd
        FROM applymessage
        WHERE user_id in
        <foreach collection="ids" item="item" index="index"
                 open="(" close=")" separator=",">
            #{item,jdbcType=INTEGER}
        </foreach>
    </select>

    <insert id="insertApplyMsg">
        INSERT  INTO applymessage (user_id,user_tel,user_name,sex,user_stunum,user_qq,college,profession,firstIntention_id,secondIntention_id,user_hobby,user_introduction,secondDepartment_id)
        VALUES
        (#{userId,jdbcType=INTEGER},#{userTel,jdbcType=VARCHAR},#{userName,jdbcType=VARCHAR},
        #{sex,jdbcType=VARCHAR},#{userStunum,jdbcType=VARCHAR},#{userQq,jdbcType=VARCHAR},
        #{college,jdbcType=VARCHAR},#{profession,jdbcType=VARCHAR},#{firstIntentionId,jdbcType=INTEGER},
        #{secondIntentionId,jdbcType=INTEGER},#{userHobby,jdbcType=VARCHAR},#{userIntroduction,jdbcType=VARCHAR},
        #{secondDepartmentId,jdbcType=INTEGER})
    </insert>

    <select id="findApplyMsgByUserTel" resultType="com.volunteer.uapply.pojo.ApplyPO">
        SELECT * FROM applymessage
        WHERE user_tel = #{usertel,jdbcType=VARCHAR}
    </select>

    <select id="findApplyMsgByUserId" resultType="com.volunteer.uapply.pojo.ApplyPO">
        SELECT * FROM applymessage WHERE user_id=#{userId,jdbcType=INTEGER}
    </select>
</mapper>

