<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.volunteer.uapply.mapper.ApplyMsgMapper">

    <update id="UpdateSecondDepartment">
        UPDATE applymessage SET secondDepartment_id = #{departmentId,jdbcType=INTEGER},secondInterview_status = 6 WHERE user_tel = #{userTel,jdbcType=VARCHAR}
    </update>

    <select id="GetUserByUserId" resultType="com.volunteer.uapply.pojo.User">
        SELECT user_id,user_name,user_sex,user_tel,userStu_num,user_qq,user_college,user_profession,firstIntention_id,first_status,secondIntention_id,second_status,user_hobby,user_introduction,secondDepartment_id,secpndInterview_status
        FROM applymessage
        WHERE user_id = #{userId,jdbcType=INTEGER}
    </select>

    <select id="listApplyPOUnSecondInterview" parameterType="java.lang.Integer" resultType="com.volunteer.uapply.pojo.ApplyPO">
        SELECT a.*
        FROM applymessage as a, interviewmessage as i
        WHERE a.user_id = i.user_id
        AND i.interview_pass = 1
        AND i.department_id = #{departmentId,jdbcType=INTEGER}
    </select>

    <select id="listApplyPOSecondedInterviewed" parameterType="java.lang.Integer" resultType="com.volunteer.uapply.pojo.ApplyPO">
        SELECT user_id,sex,user_name,user_tel,user_stunum,user_qq,college,profession,
        firstIntention_id,secondIntention_id,user_hobby,user_introduction,secondDepartment_id
        FROM applymessage
        WHERE secondDepartment_id = #{departmentId,jdbcType=INTEGER}
    </select>

    <update id="SecondEliminate" parameterType="java.lang.Integer">
        UPDATE applymessage
        SET secondDepartment_id = -1
        WHERE secondDepartment_id = #{departmentId,jdbcType=INTEGER}
        AND user_id = #{userId,jdbcType = INTEGER }
    </update>
    <update id="ChangeFirstIntentionStatus">
     UPDATE applymessage SET
    first_status = #{status,jdbcType=INTEGER}
    WHERE user_id = #{userId,jdbcType=INTEGER}
    </update>
    <update id="ChangeSecondIntentionStatus">
        UPDATE applymessage SET
    second_status = #{status,jdbcType=INTEGER}
    WHERE user_id = #{userId,jdbcType=INTEGER}
    </update>

    <select id="listUserEnrollMembers" parameterType="java.util.List" resultType="com.volunteer.uapply.pojo.User">
        SELECT DISTINCT
        user_id,user_stunum as user_name,user_tel ,4 as permissionId,
        #{departmentId} as department_id,user_stunum as user_pwd
        FROM applymessage
        WHERE user_id in
        <foreach collection="ids" item="item" index="index"
                 open="(" close=")" separator=",">
            #{item,jdbcType=INTEGER}
        </foreach>
    </select>

    <insert id="insertApplyMsg">
        INSERT  INTO applymessage (user_id,user_tel,user_name,sex,user_stunum,user_qq,college,profession,firstIntention_id,secondIntention_id,user_hobby,user_introduction,secondDepartment_id,first_status,second_status,secondInterview_status)
        VALUES
        (#{userId,jdbcType=INTEGER},#{userTel,jdbcType=VARCHAR},#{userName,jdbcType=VARCHAR},
        #{sex,jdbcType=VARCHAR},#{userStunum,jdbcType=VARCHAR},#{userQq,jdbcType=VARCHAR},
        #{college,jdbcType=VARCHAR},#{profession,jdbcType=VARCHAR},#{firstIntentionId,jdbcType=INTEGER},
        #{secondIntentionId,jdbcType=INTEGER},#{userHobby,jdbcType=VARCHAR},#{userIntroduction,jdbcType=VARCHAR},
        #{secondDepartmentId,jdbcType=INTEGER},#{firstStatus,jdbcType=INTEGER},#{secondStatus,jdbcType=INTEGER}
        ,#{secondInterviewStatus,jdbcType=INTEGER})
    </insert>

    <select id="findApplyMsgByUserTel" resultType="com.volunteer.uapply.pojo.ApplyPO">
        SELECT user_id,user_tel,user_name,sex,user_stunum,user_qq,college,profession,firstIntention_id,secondIntention_id,user_hobby,user_introduction,secondDepartment_id
        FROM applymessage
        WHERE user_tel = #{usertel,jdbcType=VARCHAR}
    </select>

    <select id="findApplyMsgByUserId" resultType="com.volunteer.uapply.pojo.ApplyPO">
        SELECT user_id,user_tel,user_name,sex,user_stunum,user_qq,college,profession,firstIntention_id,secondIntention_id,user_hobby,user_introduction,secondDepartment_id
        FROM applymessage
        WHERE user_id=#{userId,jdbcType=INTEGER}
    </select>


</mapper>

