<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.volunteer.uapply.mapper.InterviewMsgMapper">
    <sql id="BaseInterviewMessage">
        user_id,department_id,user_character,param_score1,param_score2,
        param_score3,param_score4,param_score5,param_score6,note,overview,user_name
    </sql>
    <resultMap id="SecondInterviewInfoMap" type="com.volunteer.uapply.pojo.SearchInterviewPojo">
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="user_name" property="userName" jdbcType="VARCHAR"/>
        <result column="user_sex" property="userSex" jdbcType="VARCHAR"/>
        <result column="user_tel" property="userTel" jdbcType="VARCHAR"/>
        <association property="myInterview" column="{userId=user_id,departmentId=secondDepartment_id}"
                     select="getMyInterview" javaType="com.volunteer.uapply.pojo.InterviewPO">

        </association>
        <association property="elseInterview" column="{userId=user_id,departmentId=secondDepartment_id}"
                     select="getElseInterview" javaType="com.volunteer.uapply.pojo.InterviewPO">

        </association>
    </resultMap>


    <insert id="InsertInterview">
        INSERT INTO interviewmessage(user_id,department_id,user_character,param_score1,param_score2,param_score3,param_score4,param_score5,param_score6,note,overview,user_name)
        VALUES
        (#{userId,jdbcType=INTEGER},#{departmentId,jdbcType=INTEGER},#{userCharacter,jdbcType=VARCHAR},
        #{paramScore1,jdbcType=INTEGER},#{paramScore2,jdbcType=INTEGER},#{paramScore3,jdbcType=INTEGER},#{paramScore4,jdbcType=INTEGER},#{paramScore5,jdbcType=INTEGER},#{paramScore6,jdbcType=INTEGER},
        #{note,jdbcType=VARCHAR},#{overview,jdbcType=VARCHAR},#{userName,jdbcType=VARCHAR})
    </insert>

    <select id="SelectUnfirstInterviewByDepartmentId" parameterType="java.lang.Integer" resultType="com.volunteer.uapply.pojo.ApplyPO">
        SELECT user_id,user_name,sex,user_tel,user_stunum,user_qq,college,profession,firstIntention_id,secondIntention_id,user_hobby,user_introduction,secondDepartment_id
        FROM applymessage
        WHERE firstIntention_id=#{departmentId,jdbcType=INTEGER} OR secondIntention_id=#{departmentId,jdbcType=INTEGER}
    </select>

    <select id="JudgeUnfirstInterview" parameterType="java.lang.Integer" resultType="com.volunteer.uapply.pojo.User">
        SELECT user_id,department_id
        FROM interviewmessge
        WHERE user_id=#{userId,jdbcType=INTEGER}
    </select>

    <select id="SelectFirstInterviewed" parameterType="java.lang.Integer" resultType="com.volunteer.uapply.pojo.ApplyPO">
        SELECT user_id,user_name,sex,user_tel,user_stunum,user_qq,college,profession,firstIntention_id,secondIntention_id,user_hobby,user_introduction,secondDepartment_id
        FROM applymessage
        WHERE user_id in (
            SELECT user_id
            FROM  interviewmessge
            WHERE department_id=#{departmentId,jdbcType=INTEGER}
        )
    </select>

    <update id="EliminateFirst" >
        UPDATE interviewmessge
        SET interview_pass=0
        WHERE user_id=#{userId,jdbcType=INTEGER} AND department_id=#{departmentId,jdbcType=INTEGER}
    </update>
  
    <select id="findInterviewMsgByUserId" resultType="com.volunteer.uapply.pojo.InterviewPO">
        SELECT * FROM interviewmessage WHERE user_id=#{userId,jdbcType=INTEGER}
    </select>


    <select id="listSecondUnInterviewInfoByUserId" resultMap="SecondInterviewInfoMap" parameterType="java.lang.Integer">
        SELECT user_id,user_name,user_sex,user_tel,secondDepartment_id
        FROM applymessage
        WHERE secondDepartment_id = #{departmentId,jdbcType=INTEGER}
        AND secondInterview_status = 0
    </select>
    <select id="listSecondInterviewedInfoByUserId" resultMap="SecondInterviewInfoMap" parameterType="java.lang.Integer">
        SELECT user_id,user_name,user_sex,user_tel,secondDepartment_id
        FROM applymessage
        WHERE secondDepartment_id = #{departmentId,jdbcType=INTEGER}
        AND secondInterview_status = 1
    </select>
    <select id="getMyInterview">
        SELECT
        <include refid="BaseInterviewMessage"></include>
        FROM interviewmessage
        WHERE user_id = #{userId,jdbcType=INTEGER}
        AND department_id=#{departmentId,jdbcType=INTEGER}
    </select>
    <select id="getElseInterview">
        SELECT
        <include refid="BaseInterviewMessage"></include>
        FROM interviewmessage
        WHERE user_id = #{userId,jdbcType=INTEGER}
        AND department_id &lt;&gt; #{departmentId,jdbcType=INTEGER}
    </select>
</mapper>
