<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.volunteer.uapply.mapper.InterviewMsgMapper">
    <resultMap type="com.volunteer.uapply.pojo.ApplyPO" id="ApplyP0ResultMap">
        <id property="userId" column="user_id"/>
        <result property="userSex" column="user_sex"/>
        <result property="userName" column="user_name"/>
        <result property="userStuNum" column="userStu_num"/>
        <result property="userQq" column="user_qq"/>
        <result property="userTel" column="user_tel"/>
        <result property="profession" column="user_profession"/>
        <result property="college" column="user_college"/>
        <result property="firstIntentionId" column="firstIntention_id"/>
        <result property="secondIntentionId" column="secondIntention_id"/>
        <result property="userHobby" column="user_hobby"/>
        <result property="userIntroduction" column="user_introduction"/>
        <result property="firstStatus" column="first_status"/>
        <result property="secondStatus" column="second_status"/>
        <result property="secondDepartmentId" column="secondDepartment_id"/>
        <result property=" secondInterviewStatus" column="secondInterview_status"/>
    </resultMap>

    <insert id="InsertInterview">
        INSERT INTO interviewmessage(user_id,department_id,user_character,param_score1,param_score2,param_score3,param_score4,param_score5,param_score6,note,overview,user_name)
        VALUES
        (#{userId,jdbcType=INTEGER},#{departmentId,jdbcType=INTEGER},#{userCharacter,jdbcType=VARCHAR},
        #{paramScore1,jdbcType=INTEGER},#{paramScore2,jdbcType=INTEGER},#{paramScore3,jdbcType=INTEGER},#{paramScore4,jdbcType=INTEGER},#{paramScore5,jdbcType=INTEGER},#{paramScore6,jdbcType=INTEGER},
        #{note,jdbcType=VARCHAR},#{overview,jdbcType=VARCHAR},#{userName,jdbcType=VARCHAR})
    </insert>

    <select id="SelectUnfirstInterviewByDepartmentId" parameterType="java.lang.Integer" resultMap="ApplyPOResultMap">
        SELECT user_id,user_name,userStu_num,user_qq,user_tel,user_profession,user_college,firstIntention_id,secondIntention_id,user_hobby,user_introduction,first_status,second_status,secondDepartment_id,secondInterview_status
        FROM applymessage
        WHERE firstIntention_id=#{departmentId,jdbcType=INTEGER} OR secondIntention_id=#{departmentId,jdbcType=INTEGER}
    </select>

    <select id="JudgeUnfirstInterview" parameterType="java.lang.Integer" resultType="com.volunteer.uapply.pojo.User">
        SELECT user_id,department_id
        FROM interviewmessage
        WHERE user_id=#{userId,jdbcType=INTEGER}
    </select>

    <select id="FindInterviewMsgsByDepartmentId" parameterType="java.lang.Integer"
            resultType="com.volunteer.uapply.pojo.InterviewPO">
        SELECT user_id,department_id,user_character,param_score1,param_score2,param_score3,param_score4,param_score5,param_score6,note,overview,user_name
        FROM interviewmessage
        WHERE department_id=#{departmentId,jdbcType=INTEGER}
    </select>

    <select id="FindInterviewMsgsByUserId" parameterType="java.lang.Integer"
            resultType="com.volunteer.uapply.pojo.InterviewPO">
        SELECT user_id,department_id,user_character,param_score1,param_score2,param_score3,param_score4,param_score5,param_score6,note,overview,user_name
        FROM interviewmessage
        WHERE user_id=#{userId,jdbcType=INTEGER}
    </select>

    <update id="EliminateFirstIntention">
        UPDATE applymessage
        SET first_status=2
        WHERE user_id=#{userId,jdbcType=INTEGER} AND department_id=#{departmentId,jdbcType=INTEGER}
    </update>

    <update id="EliminateSecondIntention">
        UPDATE applymessage
        SET second_status=2
        WHERE user_id=#{userId,jdbcType=INTEGER} AND department_id=#{departmentId,jdbcType=INTEGER}
    </update>

    <update id="PassFirstIntention">
        UPDATE applymessage
        SET first_status=3
        WHERE user_id=#{userId,jdbcType=INTEGER} AND department_id=#{departmentId,jdbcType=INTEGER}
    </update>

    <update id="PassSecondIntention">
        UPDATE applymessage
        SET second_status=3
        WHERE user_id=#{userId,jdbcType=INTEGER} AND department_id=#{departmentId,jdbcType=INTEGER}
    </update>
    <select id="findInterviewMsgByUserId" parameterType="java.lang.Integer"
            resultType="com.volunteer.uapply.pojo.InterviewPO">
        SELECT user_id,department_id,user_character,param_score1,param_score2,param_score3,param_score4,param_score5,param_score6,note,overview,user_name
        FROM interviewmessage
        WHERE user_id=#{userId,jdbcType=INTEGER}
    </select>

</mapper>
